<!-- BEGIN: Quản lý phòng ban -->
<div ng-controller="departmentCtrl" class="x_panel">
    <div class="x_title">
        <h2>Danh Sách Phòng Ban</h2>
        <ul class="nav navbar-right panel_toolbox hidden-print">
            <li>
                <a href="#!/department/add"><i class="fa fa-plus"></i> Thêm phòng ban</a>
            </li>
            <li>
                <a href="#" onclick="window.print();"><i class="fa fa-print"></i> In</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>Mã Phòng Ban</th>
                <th>Tên Phòng Ban</th>
                <th>Trưởng Phòng</th>
                <th>Mô Tả</th>
                <th>Hoạt Động</th>
                <th class="text-center hidden-print">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="loading == null">
                <td colspan="6" class="text-center">
                    Đang tải dữ liệu...
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                </td>
            </tr>
            <tr ng-repeat="d in departments">
                <td class="text-center">{{ d.MAPB }}</td>
                <td>{{ d.TENPHONGBAN }}</td>
                <td>{{ d.TRUONGPHONG }}</td>
                <td>{{ d.MOTA }}</td>
                <td><input type="checkbox" class="checkthis" ng-checked="d.TINHTRANG"/></td>
                <td class="text-center hidden-print">
                    <p data-placement="top" data-toggle="tooltip">
                        <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                            <span class="fa fa-pencil"></span></button>
                        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                            <span class="fa fa-trash"></span></button>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!-- modal Sua -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="HeadingEdit">Cập Nhật Phòng Ban</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="PDT">
                    </div>
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Phòng Đào Tạo">
                    </div>
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Tham gia quản lý chương trình giảng day">
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Đang Hoạt Động</label>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="fa fa-ok-sign"></span> Cập Nhật</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- modal Xoa -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Xóa Phòng Ban</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="fa fa-warning-sign"></span> Bạn có muốn xóa phòng ban này?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success"><span class="fa fa-ok-sign"></span> Đồng Ý</button>
                    <a type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span>Không</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

<!-- END: Quản lý phòng ban -->