<!-- footer content -->
<footer class="hidden-print">
    <p class="pull-left">Designed by
        <a target="_blank" href="https://d13ht01.tk/?utm_source=isc-node7&utm_medium=footer&utm_campaign=project">Node7 Team</a>.
    </p>
    <p class="pull-right hidden-sm">
        Built with <i class="fa fa-heart text-danger"></i> by
        <a href="https://github.com/taminhchau" target="_blank">Châu</a>,
        <a href="https://github.com/VinAnhDuc" target="_blank">Anh Đức</a>,
        <a href="https://github.com/minhducisc" target="_blank">Minh Đức</a>,
        <a href="https://github.com/huynguyen22994" target="_blank">Huy</a>,
        <a href="https://github.com/tienthanh2509" target="_blank">Thành</a>,
        <a href="https://github.com/monleden" target="_blank">Thiện</a>,
        <a href="https://github.com/dknyonelil" target="_blank">Trọng</a>
    </p>
    <div class="clearfix"></div>
</footer>
<!-- footer content -->