      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" ng-model="admin.TAIKHOAN" placeholder="Username" required="" />
              </div>
              <div>
                <input type="password" class="form-control" ng-model="admin.MATKHAU" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default" ng-click="login()" href="/">Đăng nhập</a>
                <a class="reset_pass" href="#">Quên mật khẩu?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                  <h2>Node7 Team!</h2>
                  <p>©2016 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>

      </div>