<!-- BEGIN: Quản lý chức vụ -->
<div class="x_panel" ng-controller="certificateCtrl">
    <div class="x_title">
        <h2>Danh sách chứng chỉ</h2>
        <ul class="nav navbar-right panel_toolbox hidden-print">
            <li>
                <a href="#!/certificate/add"><i class="fa fa-plus"></i> Thêm chứng chỉ mới</a>
            </li>
            <li>
                <a href="#" onclick="window.print(); return false;"><i class="fa fa-print"></i> In</a>
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Chứng chỉ</th>
                <th>Ghi chú</th>
                <th class="text-center hidden-print">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="loading == null">
                <td colspan="4" class="text-center">
                    Đang tải dữ liệu...
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                </td>
            </tr>
            <tr ng-repeat="c in certificates">
                <td>{{ c.MACHUNGCHI }}</td>
                <td>{{ c.TENCHUNGCHI }}</td>
                <td>{{ c.GHICHU }}</td>
                <td class="text-center hidden-print">
                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="setData($index)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal"
                            ng-click="setData($index)">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- BEBIN: Modal cập nhật thông tin chứng chỉ -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <form name="certificateForm" ng-submit="updateCertificate()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                                class="fa fa-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="HeadingEdit">Cập Nhật Chứng Chỉ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>
                                <input class="form-control" type="text" value="{{ certificate.MaChungChi }}" readonly>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tên chứng chỉ"
                                   ng-model="certificate.TenChungChi" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Mô tả" ng-model="certificate.GhiChu">
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"
                                ng-disabled="certificateForm.$invalid" ng-hide="loading">
                            <span class="fa fa-ok-sign"></span> Cập Nhật
                        </button>
                        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" disabled
                                ng-show="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            Đang xử lý...
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </form>
        <!-- /.modal-dialog -->
    </div>
    <!-- END: Modal cập nhật thông tin chứng chỉ -->

    <!-- BEBIN: Modal xóa chứng chỉ -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Xóa Chứng Chỉ</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="fa fa-warning-sign"></span> Bạn có muốn xóa chứng chỉ?
                        "{{ certificate.MaChungChi }} - {{ certificate.TenChungChi }}"
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger" ng-click="delete(certificate.MaChungChi)" ng-hide="loading">
                        <span class="fa fa-ban"></span> Đồng Ý
                    </button>
                    <button type="button" class="btn btn-danger" ng-show="loading" disabled>
                        <i class="fa fa-spinner fa-spin"></i>
                        Đang xử lý...
                    </button>
                    <a type="button" class="btn btn-success" data-dismiss="modal">
                        <span class="fa fa-check-circle"></span> Không
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END: Modal xóa chứng chỉ -->

</div>
<!-- END: Quản lý chức vụ -->