<!-- BEGIN: Quản lý chức vụ -->
<div class="x_panel" ng-controller="certificateCtrl">
    <div class="x_title">
        <h2>Danh sách chứng chỉ</h2>
        <ul class="nav navbar-right panel_toolbox hidden-print">
            <li>
                <a href="#!/certificate/add"><i class="fa fa-plus"></i> Thêm chứng chỉ mới</a>
            </li>
            <li>
                <a href="#" onclick="window.print(); return false;"><i class="fa fa-print"></i> In</a>
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Chứng chỉ</th>
                <th>Ghi chú</th>
                <th class="text-center hidden-print">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="loading == null">
                <td colspan="4" class="text-center">
                    Đang tải dữ liệu...
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                </td>
            </tr>
            <tr ng-repeat="c in certificates">
                <td>{{ c.MACHUNGCHI }}</td>
                <td>{{ c.TENCHUNGCHI }}</td>
                <td>{{ c.GHICHU }}</td>
                <td class="text-center hidden-print">
                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="setData($index)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-danger btn-xs" data-title="Delete" ng-click="detail(c.MACHUNGCHI)" data-toggle="modal" data-target="#modalDelete">
                            <span class="fa fa-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal Xóa Chứng Chỉ-->
    <div class="modal fade bs-example-modal-sm" id="modalDelete" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa chứng chỉ</h4>
                    </div>
                    <div class="modal-body">
                    <p>Bạn có chắc muốn xóa? {{oneCertificate.TENCHUNGCHI}}</p>
                    <p class="h4"><b>Tất cả dữ liệu liên quan sẽ bị xóa hết!</b></p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="delete(oneCertificate.MACHUNGCHI)" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
                
                </div>
            </div>
        <!-- /END: Modal Xóa Chứng Chỉ -->
 


 <!-- BEBIN: Modal cập nhật chứng chỉ -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <form name="certificateForm" ng-submit="updateCertificate()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                                class="fa fa-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="HeadingEdit">Cập Nhật Chứng Chỉ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>
                                <input class="form-control" type="text" placeholder="Mã Chứng Chỉ" value="{{ certificate.MaChungChi }}" readonly>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tên chứng chỉ"
                                   ng-model="certificate.TenChungChi" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Ghi Chú" ng-model="certificate.GhiChu">
                        </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"
                                ng-disabled="certificateForm.$invalid" ng-hide="saving">
                            <span class="fa fa-ok-sign"></span> Cập Nhật
                        </button>
                        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" disabled
                                ng-show="saving">
                            <i class="fa fa-spinner fa-spin"></i>
                            Đang xử lý...
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </form>
        <!-- /.modal-dialog -->
    </div>
    <!-- END: Modal cập nhật chứng chỉ -->

</div>

<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script> 
<!-- END: Quản lý chức vụ -->