<div class="" ng-controller="contactCtrl">
    <div class="page-title">
        <div class="title_left">
        <h3>Liên Hệ</h3>
        </div>

        <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
            </div>
        </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <ul class="pagination pagination-split">
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">D</a></li>
                    <li><a href="#">E</a></li>
                    <li>...</li>
                    <li><a href="#">W</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Y</a></li>
                    <li><a href="#">Z</a></li>
                </ul>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-4 col-xs-12 profile_details" ng-repeat="e in employees">
                    <div class="well profile_view">
                        <div class="col-sm-12">
                        <h4 class="brief"><i>Phòng Ban: {{e.TENPHONGBAN}}</i></h4>
                        <div class="left col-xs-7">
                            <h2>{{e.HONV}} {{e.TENNV}}</h2>
                            <p><strong>Chức vụ: </strong>{{e.TENCHUVU}}</p>
                            <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> Địa chỉ: {{e.DIACHI}}</li>
                            <li><i class="fa fa-phone"></i> SDT: {{e.SODIENTHOAI}} </li>
                            </ul>
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="/images/user.png" alt="" class="img-circle img-responsive">
                        </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                            <a>4.0</a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="inputEmail(e.ID_NV)" data-toggle="modal" data-target="#contactEmployee"> <i class="fa fa-user">
                            </i> <i class="fa fa-comments-o"></i>Mail</button>
                            <button type="button" class="btn btn-primary btn-xs">
                            <i class="fa fa-user"> </i>Thông tin
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal Email-->
    <div class="modal fade" id="contactEmployee" role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title h4">Email: {{detailEmploy.HONV}} {{detailEmploy.TENNV}}</div>
            <div class="modal-title h6">{{detailEmploy.EMAIL}}</div>
            </div>
            <div class="modal-body">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Nội Dung Mail <small></small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tiêu đề</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" name="title" ng-model="email.subject">
                        </div>
                    </div>
                      <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nội dung mail</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea class="resizable_textarea form-control" ng-model="email.content" placeholder="Nội dung..."></textarea>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="sendMail()" data-dismiss="modal">Gửi Mail</button>
            <button type="button" class="btn btn-default" ng-click="clearMail()" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
    </div>
    <!-- /Modal Email -->
</div>

