/* metisMenu styles
-------------------------------------------------- */
.sidebar {
  display: block;
  float: left;
  width: 250px;
  background: #1ccacd;
}

.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #ff3f4d 10px, #1ccacd 10px) repeat-x;
}

.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}

.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}

.sidebar-nav ul a {
  padding: 10px 20px;
  color: #ffffff;
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.sidebar-nav ul a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff3f4d;
}

.sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #1ccacd;
  text-decoration: none;
  background-color: #ffffff;
  border: #ff3f4d solid 1px;
}

.metismenu li.active:focus .has-arrow:after {
  border-color: #ff3f4d;
}

.metismenu li.active .has-arrow:after {
  border-color: #ffffff;
}

.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  color: #1ccacd;
  text-decoration: none;
  background-color: #ffffff;
  border: #ff3f4d solid 1px;
}

.sidebar-nav ul ul a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff3f4d;
}

.sidebar-nav-item {
  padding-left: 5px;
}

.sidebar-nav-item-icon {
  padding-right: 5px;
}

/* Sticky header styles
-------------------------------------------------- */
.navbar-inverse {
  background-color: #1ccacd;
  border-color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #1ccacd;
  background-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #ff3f4d;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #1ccacd;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #1ccacd;
  background-color: #ffffff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff3f4d;
}

// Sticky show panel
.modal-header {
  background-color: #1ccacd;
}

.modal-title {
  color: #ffffff;
}
